

.mainCont{
    width: 100%;
    display:flex;
}

.OFF{
    flex-basis:20%;
}
.BOD{
    flex-basis: 80%;
}

      /* PROFILE */

.profileBdy{
   padding: 2% 3%;
}
.pHeaderImg{
    text-align: end;
}
.num{
    background-color: rgba(201, 175, 30, 0.708);
    padding: 10px;
    border-radius: 50%;
    color: white;
}
.txt{
    color: #4e4a4a;
}
.profTitle{
    margin-bottom: 10px;
}
.profTitle p{
    font-size: 0.6em;
}
.goToEditPg{
    background-color: #4e4a4a;
    width: 100px; 
    margin: 20px 30px; 

}
.goToEditPg h3{
    text-align: center;
    padding: 1rem 2rem;
}
.editLink{
    color: #fff;
}

/* EDIT PAGE  */
.pflSelect{
    width: 100%;
    border: none;
    border-bottom: 1px solid #4e4a4a;
}
.editInp{
    border: none;
    border-bottom: 1px solid #4e4a4a;
    border-radius: 0;
}



  /* DOCUMENTS */
.docHeader{
    color: #4e4a4a;
}
.docBdy p{
   font-size: 0.9em;
}

     /* NOTICE */
 .notcBdy p{
    padding: 3rem 0;
    text-align: center;
    color: #ff0000;
 }    



@media (max-width: 768px) {
   
    .mainCont{
        flex-direction: column;
    }

    .profileBdy{
        width: 90%;
        margin: 0 auto;
    } 
   
}